{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}
    | Just a blog
    {% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'front/fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="{% static 'front/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'front/css/templatemo-xtra-blog.css' %}" rel="stylesheet">

</head>
<body>
	{% include "partials/_header.html" %}
    <div class="container-fluid">
        <main class="tm-main">
                
           {% block content %}
           
           {% endblock content %}
          
        </main>
    </div>
    <script src="{% static 'front/js/jquery.min.js' %}"></script>
    <script src="{% static 'front/js/templatemo-script.js' %}"></script>
</body>
</html>